//Regular
@font-face {
    font-family: "Avenir";
    src: url('../../assets/font/AvenirNextLTPro-Regular.otf') format('otf'),
         url('../../assets/font/alternative/AvenirNextLTPro.ttf') format('ttf');
    font-weight: 400;
}

//Bold
@font-face {
    font-family: "Avenir-Bold";
    src: url('../../assets/font/AvenirNextLTPro-Bold.otf') format('otf'),
        url('../../assets/font/alternative/AvenirNextLTProBold.ttf') format('ttf');
    font-weight: 700;
}