@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;

.next__header{
    font-size: 24px;
    font-weight: 400;
    color: $Silver;
}
.next__listing{
    padding-left: 1rem;
}

.next__header{
    padding-left: 1rem;
}

@include desktop{
    .next__header{
        padding-top: 1.5rem;
    }
    .next{
        margin-left: 1rem;
    }
}
