@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global.scss" as *;

.comments {
	padding: 0 1rem;

	@include tablet {
		padding: 0 2.25rem;
	}
	@include desktop {
		padding: 0;
	}

	&__img {
		width: 2.25rem;
		height: 2.25rem;
		border-radius: 50%;
		background-color: $Mercury;
		background-image: url("/assets/images/Mohan-muruge.jpg");
		background-size: cover;

		@include tablet {
			min-width: 3rem;
			height: 3rem;
		}
	}

	&__join {
		display: flex;
		gap: 1rem;
		border-bottom: 1px solid $Mercury;
		padding-bottom: 1rem;
	}
	&__left {
		flex-shrink: 2;
	}
	&__right {
		flex: 1;
		padding-right: 1rem;

		& > p {
			color: $Silver;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}
	&__input {
		color: $Black;
		opacity: 100%;
		font-size: 1rem;
		border: $Mercury 1px solid;
		border-radius: 0.25rem;
		box-sizing: border-box;
		padding: 0.75rem;
		margin-top: 0;
		width: 100%;
		max-width: 100%;
		height: 6rem;
		margin-bottom: 1rem;
		resize: none;

		@include tablet {
			padding: 1rem;
			margin-bottom: 0;
			height: 3rem;
		}
	}

	&__form {
		@include tablet {
			display: flex;
			gap: 1rem;
		}
	}
}
