@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global.scss" as *;

.upload {
	padding: 0 1rem;
	border-top: 1px solid $Mercury;
	padding-top: 2rem;

	@include desktop {
		margin: 0 auto;
		width: 64rem;
	}

	&__subtitle {
		text-transform: uppercase;
		color: $Silver;
		margin-bottom: 0.5rem;
		margin-top: 1rem;
	}
	&__title {
		margin-top: 1.5rem;
		margin-bottom: 1rem;

		@include tablet {
			font-size: 2.5rem;
			margin-top: 3rem;
			margin-bottom: 2.25rem;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $Mercury;
		padding-bottom: 2rem;

		@include tablet {
			padding-top: 1rem;
			border-top: 1px solid $Mercury;
		}
		@include desktop {
			flex-direction: row;
			gap: 2rem;
		}
	}
	&__thumbnail {
		width: 100%;
		border-radius: 0.25rem;

		@include tablet {
			max-width: 50%;
		}

		@include desktop {
			max-width: 100%;
		}
	}
	&__input {
		color: $Black;
		opacity: 100%;
		font-size: 1rem;
		border: $Mercury 1px solid;
		border-radius: 0.25rem;

		box-sizing: border-box;
		padding: 0.75rem;
		margin-top: 0;
		width: 100%;
		max-width: 100%;

		margin-bottom: 1rem;

		@include tablet {
			padding: 1rem;
			margin-bottom: 0;
			height: 3rem;
		}
	}

	&__textarea {
		height: 6rem;
		resize: none;

		&::placeholder {
			color: $Black;
			opacity: 100%;
			font-size: 1rem;
		}
	}
	&__actions {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		margin-top: 2rem;
		@include tablet {
			flex-direction: row-reverse;
			justify-content: right;
		}
	}
	&__right {
		flex: 9;
	}
	&__left {
		flex: 5;
	}
}
