@use "../../styles/partials/colors.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/global.scss" as *;

.details {
	&__title {
		padding: 0 1rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;

		@include tablet {
			padding: 0 2.25rem;
			margin-top: 3rem;
			margin-bottom: 2.25rem;
		}
		@include desktop {
			padding: 0;
		}
	}

	&__info {
		padding: 0 1rem;
		display: flex;
		justify-content: space-between;

		padding-top: 1rem;
		border-top: 1px solid $Mercury;
		border-bottom: 1px solid $Mercury;

		@include tablet {
			border-top: 0;
			margin: 0 2.25rem;
			padding: 0 2.25rem;
		}

		@include desktop {
			margin: 0;
			padding: 0;
		}

		& > div {
			display: flex;
			flex-direction: column;
			width: 50%;

			@include tablet {
				flex-direction: row;
				width: revert;
				gap: 2rem;
				margin-bottom: 1rem;
			}

			@include desktop {
				margin-right: 1rem;
			}
		}
	}
	&__icon {
		margin-right: 0.5rem;
		float: left;

		@include tablet {
			transform: translateY(20%);
		}
	}
	&__text {
		padding-bottom: 1rem;
		width: fit-content;
		display: inline-block;
		color: $Silver;

		@include tablet {
			padding-bottom: 2.25rem;
			font-size: 0.8rem;
		}
	}
	&__channel {
		padding-bottom: 1rem;
		margin: 0;
		font-weight: 600;

		@include tablet {
			padding-bottom: 2.25rem;
		}
	}
	&__desc {
		padding: 0 1rem;
		margin-top: 1.5rem;
		margin-bottom: 1rem;

		@include tablet {
			padding: 0 2.25rem;
			margin-top: 3rem;
			margin-bottom: 2.25rem;
		}

		@include desktop {
			margin-right: 1rem;
			padding: 0;
		}
	}
}
